##### **Pivot Tables**

In [18]:
import pandas as pd
import numpy as np

In [19]:
path_retail = 'Pandas Course Resources/retail/retail_2016_2017.csv'
retail_df = pd.read_csv(path_retail)

retail_df.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [20]:
# Create random sample of 100 for aggregation examples
sample_df = retail_df.sample(100, random_state=616)
sample_df.head()

             id        date  store_nbr    family     sales  onpromotion
399033  2344977  2016-08-11         54   PRODUCE   487.239            1
579626  2525570  2016-11-21         22  HARDWARE     0.000            0
546385  2492329  2016-11-02          4     BOOKS     3.000            0
534555  2480499  2016-10-26          8  LINGERIE     7.000            0
96159   2042103  2016-02-23          7   PRODUCE  5212.624            0

##### **Pivot Tables Method** </br> `.pivot_table()` method creates Excel Style Pivot Tables </br> method requires </br> `..pivot_table(index='', columns='', values='', aggfunc='')`

|Argument|Description|
|---|-----------|
|`index=''`|returns a row index with distinct values from the specified column|
|`columns=''`|returns a colun index with distinct values from the specified column|
|`values=''`|the column(s) to perform aggregation operations on|
|`aggfunc=''`|defines the aggregation operation to perform|
|`margins=`|returns row and columns totals with True (default is False)|

##### **Pivot Tables Do Not Have A Filter** <br> *Filter DataFrame before implementing `pivot_table()` Method* </br> Using .query, boolean logic conditions or splicing

In [21]:
# Create pivot_table showing top 3
# margins=False by default will not display column totals at bottom of DataFrame
retail_df.pivot_table(
    index='family',
    columns='store_nbr',
    values='sales',
    aggfunc='sum').round().head(3)

store_nbr,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
family,,,,,,,,,,,,,,,,,,,,,
AUTOMOTIVE,2524.0,3918.0,6790.0,2565.0,3667.0,3442.0,3031.0,3225.0,7695.0,1772.0,...,9809.0,8670.0,9537.0,7264.0,7477.0,6702.0,4487.0,1497.0,5811.0,4199.0
BABY CARE,0.0,84.0,672.0,24.0,215.0,12.0,48.0,142.0,228.0,179.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,198.0
BEAUTY,1776.0,3824.0,8150.0,3063.0,3604.0,4524.0,2622.0,5942.0,4462.0,933.0,...,8068.0,8901.0,9766.0,8680.0,6603.0,6353.0,3566.0,972.0,3812.0,405.0

In [29]:
# Create pivot_table showing totals at bottoms
# with margins=True the totals of the columns and the rows will be displayed at end of columns/rows of DataFrame
# Column Totals will not be displayed with .head()
retail_df.pivot_table(
    index='family', 
    columns='store_nbr', 
    values='sales', 
    aggfunc='sum',
    margins=True
).round()

store_nbr,1,2,3,4,5,6,7,8,9,10,...,46,47,48,49,50,51,52,53,54,All
family,,,,,,,,,,,,,,,,,,,,,
AUTOMOTIVE,2524.0,3918.0,6790.0,2565.0,3667.0,3442.0,3031.0,3225.0,7695.0,1772.0,...,8670.0,9537.0,7264.0,7477.0,6702.0,4487.0,1497.0,5811.0,4199.0,226139.0
BABY CARE,0.0,84.0,672.0,24.0,215.0,12.0,48.0,142.0,228.0,179.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,198.0,7903.0
BEAUTY,1776.0,3824.0,8150.0,3063.0,3604.0,4524.0,2622.0,5942.0,4462.0,933.0,...,8901.0,9766.0,8680.0,6603.0,6353.0,3566.0,972.0,3812.0,405.0,166189.0
BEVERAGES,1238601.0,1915519.0,5280120.0,1742495.0,1110429.0,2477150.0,2612147.0,2948874.0,2218853.0,685311.0,...,3680161.0,5162704.0,3006995.0,4470550.0,2619648.0,2884739.0,537796.0,1396928.0,1186768.0,105700279.0
BOOKS,211.0,239.0,540.0,266.0,230.0,76.0,211.0,317.0,0.0,0.0,...,199.0,581.0,57.0,454.0,291.0,259.0,0.0,77.0,0.0,6438.0
BREAD/BAKERY,223998.0,410154.0,805629.0,264225.0,209913.0,365313.0,465510.0,534130.0,339050.0,63886.0,...,577221.0,734913.0,509099.0,777951.0,383754.0,534936.0,97521.0,313372.0,131379.0,17092978.0
CELEBRATION,9072.0,8342.0,29351.0,5931.0,15235.0,8932.0,11696.0,14258.0,9131.0,2373.0,...,13178.0,17113.0,12845.0,21300.0,21917.0,9150.0,1343.0,6110.0,2892.0,444901.0
CLEANING,390600.0,579198.0,1268147.0,522716.0,538626.0,760643.0,662558.0,773669.0,1078511.0,442035.0,...,1417153.0,1454345.0,1315531.0,1187930.0,992487.0,867712.0,201411.0,683924.0,688297.0,38127743.0
DAIRY,430983.0,579438.0,1427037.0,532893.0,326557.0,664470.0,876615.0,968274.0,547710.0,186123.0,...,988991.0,1429740.0,823365.0,1493050.0,714319.0,968845.0,140584.0,368223.0,151139.0,28422893.0
DELI,76538.0,147992.0,239963.0,132771.0,130029.0,210272.0,106357.0,174613.0,364163.0,155772.0,...,483142.0,393357.0,395257.0,260027.0,284165.0,142728.0,44664.0,150784.0,131721.0,9617777.0
EGGS,80503.0,109345.0,304804.0,97756.0,52199.0,112317.0,175563.0,195834.0,120631.0,28110.0,...,94192.0,216755.0,76782.0,289702.0,65403.0,192589.0,25002.0,63436.0,47294.0,6054283.0
FROZEN FOODS,73742.0,96174.0,263533.0,83145.0,79739.0,120954.0,162718.0,133032.0,78781.0,26091.0,...,205219.0,237760.0,169547.0,273867.0,149468.0,190974.0,40622.0,107285.0,28590.0,5176584.0
GROCERY I,1512670.0,2762768.0,5135099.0,2211469.0,1797579.0,3103856.0,2541807.0,3148279.0,4145565.0,1563774.0,...,5823843.0,6317624.0,5113736.0,4960503.0,3952280.0,3054774.0,736213.0,2049658.0,1849069.0,143227476.0
GROCERY II,11773.0,19461.0,46960.0,12002.0,12516.0,20311.0,24047.0,22619.0,5815.0,2313.0,...,26077.0,36639.0,25594.0,39363.0,35361.0,17732.0,5672.0,10427.0,4878.0,726125.0
HARDWARE,1056.0,904.0,2034.0,923.0,619.0,674.0,1550.0,1779.0,988.0,216.0,...,1088.0,1389.0,628.0,1270.0,792.0,894.0,395.0,1006.0,465.0,41324.0
HOME AND KITCHEN I,12320.0,14620.0,37083.0,10764.0,15633.0,16770.0,14558.0,25605.0,34481.0,5868.0,...,20989.0,36433.0,25861.0,37482.0,38619.0,18558.0,6926.0,16881.0,14002.0,989836.0
HOME AND KITCHEN II,14473.0,16107.0,36387.0,8508.0,14701.0,35541.0,13494.0,26725.0,18222.0,4165.0,...,33463.0,44662.0,20964.0,27354.0,31897.0,21754.0,6271.0,16429.0,8061.0,886210.0
HOME APPLIANCES,184.0,285.0,1145.0,216.0,301.0,38.0,432.0,521.0,125.0,69.0,...,552.0,1080.0,342.0,637.0,260.0,637.0,117.0,93.0,82.0,13526.0
HOME CARE,99976.0,171176.0,314518.0,146736.0,125383.0,195252.0,152240.0,231829.0,275251.0,107307.0,...,396872.0,401975.0,360281.0,299373.0,263307.0,194672.0,44347.0,138900.0,131014.0,9393716.0
LADIESWEAR,8322.0,15969.0,28790.0,13843.0,8239.0,17548.0,7122.0,21907.0,9384.0,2873.0,...,18940.0,18814.0,15939.0,11059.0,12785.0,2319.0,1264.0,2973.0,0.0,368644.0
LAWN AND GARDEN,7272.0,6452.0,23410.0,8430.0,3160.0,7547.0,17378.0,15540.0,3457.0,0.0,...,10676.0,14136.0,6381.0,14917.0,4483.0,17580.0,7706.0,5140.0,0.0,323517.0
LINGERIE,2977.0,3664.0,14234.0,1516.0,6727.0,4425.0,3749.0,11698.0,3528.0,957.0,...,3849.0,3145.0,1727.0,5940.0,3222.0,3577.0,1003.0,5172.0,2017.0,195700.0
"LIQUOR,WINE,BEER",60949.0,56741.0,138736.0,50599.0,38991.0,54887.0,100185.0,90308.0,30916.0,6679.0,...,69972.0,110961.0,65732.0,148384.0,72899.0,94114.0,24750.0,60683.0,13967.0,3006663.0
MAGAZINES,4095.0,5126.0,15477.0,4572.0,4774.0,4736.0,8044.0,10616.0,2245.0,326.0,...,6109.0,9773.0,3984.0,10469.0,6015.0,6668.0,1247.0,2809.0,598.0,203037.0
MEATS,179890.0,316203.0,504639.0,220089.0,144011.0,292759.0,299262.0,293492.0,233110.0,94544.0,...,640450.0,570603.0,566223.0,518745.0,324657.0,376613.0,59379.0,168415.0,33729.0,11551426.0
PERSONAL CARE,87971.0,173871.0,341642.0,150148.0,153587.0,209912.0,146995.0,225083.0,293935.0,111404.0,...,482079.0,469533.0,475469.0,304551.0,329667.0,176801.0,45450.0,189207.0,121559.0,10193693.0
PET SUPPLIES,3313.0,5562.0,11759.0,4736.0,2192.0,6156.0,4225.0,10990.0,3924.0,424.0,...,13960.0,15197.0,10304.0,11873.0,5806.0,11897.0,1741.0,2855.0,118.0,236811.0
PLAYERS AND ELECTRONICS,5587.0,5233.0,15675.0,5222.0,4736.0,7505.0,7496.0,11410.0,6272.0,2572.0,...,15616.0,17592.0,12247.0,19211.0,14079.0,7063.0,3353.0,4411.0,2205.0,339133.0
POULTRY,177199.0,308752.0,739140.0,275393.0,135997.0,389595.0,411698.0,396154.0,274422.0,93362.0,...,576536.0,748297.0,508418.0,651381.0,254349.0,647104.0,58363.0,128307.0,35537.0,12375952.0
PREPARED FOODS,49586.0,80228.0,210783.0,53123.0,41185.0,76374.0,107402.0,114714.0,66893.0,18500.0,...,105712.0,177127.0,77627.0,190273.0,61288.0,84282.0,15951.0,50201.0,42792.0,3308046.0
PRODUCE,1445806.0,1611540.0,5044781.0,1533163.0,898128.0,1677460.0,3323491.0,3003706.0,978358.0,143247.0,...,1842812.0,3717189.0,1295275.0,4968328.0,1404563.0,3273884.0,581158.0,1318876.0,378612.0,73523507.0
SCHOOL AND OFFICE SUPPLIES,146.0,494.0,1041.0,278.0,611.0,368.0,428.0,533.0,6426.0,413.0,...,14641.0,14528.0,17992.0,10444.0,12974.0,8414.0,2232.0,1073.0,997.0,193994.0
SEAFOOD,15898.0,21453.0,60800.0,19222.0,6752.0,27768.0,32790.0,30747.0,10363.0,1865.0,...,32504.0,52595.0,17551.0,56530.0,12774.0,34251.0,1219.0,3745.0,1082.0,729149.0
All,6230011.0,9450837.0,22358869.0,8118802.0,5886265.0,10877588.0,12297471.0,13446564.0,11172895.0,3753463.0,...,17613767.0,22445864.0,14947697.0,21076999.0,12086584.0,13853573.0,2696170.0,7277044.0,5013667.0,482871591.0

In [23]:
# load soccer excel
premier_league = pd.read_excel('Pandas Course Resources/retail/premier_league_games_full.xlsx')

In [25]:
# pivot table that has seasons for columns, with the sum of the HomeTeam HomeGoals
premier_league.pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='sum'
).head()

season,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016
HomeTeam,,,,,,,,
Arsenal,31.0,48.0,33.0,39.0,47.0,36.0,41.0,31.0
Aston Villa,27.0,29.0,26.0,20.0,23.0,22.0,18.0,14.0
Birmingham City,NaN,19.0,19.0,NaN,NaN,NaN,NaN,NaN
Blackburn Rovers,22.0,28.0,22.0,26.0,NaN,NaN,NaN,NaN
Blackpool,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN

In [27]:
# using query to filter data before pivot_table() method applied for Sum of HomeGoals
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='sum'
)
# results in pivot_table that was filtered first

season,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016
HomeTeam,,,,,,,,
Arsenal,31,48,33,39,47,36,41,31
Chelsea,33,68,39,41,41,43,36,32
Everton,31,35,31,28,33,38,27,35

In [28]:
# using query to filter data before pivot_table() method applied for average HomeGoals with totals from margins=True argument 
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='mean',
    margins=True
)
# results in pivot_table that was filtered first

season,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016,All
HomeTeam,,,,,,,,,
Arsenal,1.631579,2.526316,1.736842,2.052632,2.473684,1.894737,2.157895,1.631579,2.013158
Chelsea,1.736842,3.578947,2.052632,2.157895,2.157895,2.263158,1.894737,1.684211,2.190789
Everton,1.631579,1.842105,1.631579,1.473684,1.736842,2.000000,1.421053,1.842105,1.697368
All,1.666667,2.649123,1.807018,1.894737,2.122807,2.052632,1.824561,1.719298,1.967105

##### **Multiple Aggregation Functions** <br> Multiple arguments can be passed as tuple to the `aggfunc=` argument</br> Additional aggregated values added as additional columns </br> This can create a wide DataFrame which may not be best for analysis

In [35]:
# create Max columns for store_nbr and Min columns for store_nbr
retail_df.pivot_table(
    index='family', 
    columns='store_nbr', 
    values='sales', 
    aggfunc=('min', 'max')
).head()

               max                                                            \
store_nbr       1       2        3       4       5       6       7        8
family
AUTOMOTIVE    19.0    23.0     32.0    19.0    18.0    24.0    31.0     43.0
BABY CARE      0.0     5.0     11.0     3.0     5.0     4.0     2.0      4.0
BEAUTY        11.0   108.0     93.0    19.0    25.0    27.0    16.0     30.0
BEVERAGES   5051.0  6049.0  19154.0  6056.0  3745.0  9537.0  9009.0  13511.0
BOOKS          8.0     9.0     11.0     9.0     6.0     6.0    10.0     13.0

                            ...  min                                          \
store_nbr       9       10  ...   45   46   47   48   49   50   51   52   53
family                      ...
AUTOMOTIVE    44.0    21.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BABY CARE      5.0     9.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BEAUTY        32.0    11.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BEVERAGES   9188.0  2687.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BOOKS          0.0     0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0


store_nbr    54
family
AUTOMOTIVE  0.0
BABY CARE   0.0
BEAUTY      0.0
BEVERAGES   0.0
BOOKS       0.0

[5 rows x 108 columns]

In [43]:
# can use dictionary with aggfunction for specific aggregations on specific columns which doens't require the 'values=' argument because the values are referenced in dictionary
retail_df.pivot_table(
    index='family', 
    columns='store_nbr', 
    aggfunc=({'sales':['sum', 'mean'], 'onpromotion':'max'})
).round()

                           onpromotion                                     \
                                   max
store_nbr                           1    2    3    4    5    6    7    8
family
AUTOMOTIVE                           1    1    1    1    2    1    2    1
BABY CARE                            0    0    1    0    1    0    0    0
BEAUTY                               2    2    2    2    2    2    2    2
BEVERAGES                           84   91   97   93   93   92   89   96
BOOKS                                0    0    0    0    0    0    0    0
BREAD/BAKERY                        24   30   29   27   21   27   29   27
CELEBRATION                          7    9   10    5   10    9    9   10
CLEANING                            56   61   73   59   64   68   68   66
DAIRY                               49   47   55   50   53   50   49   56
DELI                                60   69   71   61   66   71   60   70
EGGS                                31   32   32   31   26   32   32   31
FROZEN FOODS                        11   11   14   13   11   12   12   13
GROCERY I                          167  172  190  173  178  185  176  186
GROCERY II                           1    2    2    1    1    2    1    2
HARDWARE                             0    0    1    0    1    0    0    0
HOME AND KITCHEN I                   9   10   14    9   15   14   12   13
HOME AND KITCHEN II                  5    6    8    3    6    5    7    7
HOME APPLIANCES                      0    0    0    0    0    0    0    0
HOME CARE                           16   16   18   16   16   17   16   17
LADIESWEAR                           0    0    1    2    1    2    0    1
LAWN AND GARDEN                      9   10   13   11    7   10   14   13
LINGERIE                             1    3    5    1    3    6    4    3
LIQUOR,WINE,BEER                    12   12   13   11    9   10   12   11
MAGAZINES                            0    0    0    0    1    0    0    1
MEATS                               52   51   55   54   38   53   53   55
PERSONAL CARE                       14   16   20   15   19   19   16   17
PET SUPPLIES                         2    2    2    2    1    1    1    2
PLAYERS AND ELECTRONICS              1    2    1    3    2    2    2    1
POULTRY                             44   44   46   47   32   45   45   45
PREPARED FOODS                       3    4    4    4    4    4    4    4
PRODUCE                            227  230  229  203  182  199  239  247
SCHOOL AND OFFICE SUPPLIES           2    2    1    1    3    3    2    2
SEAFOOD                              7    7    7    7    6    7    7    7

                                      ...      sales                        \
                                      ...        sum
store_nbr                    9    10  ...         45         46         47
family                                ...
AUTOMOTIVE                    4    1  ...     9809.0     8670.0     9537.0
BABY CARE                     1    1  ...        0.0        0.0        0.0
BEAUTY                        4    4  ...     8068.0     8901.0     9766.0
BEVERAGES                   101   62  ...  5564655.0  3680161.0  5162704.0
BOOKS                         0    0  ...      579.0      199.0      581.0
BREAD/BAKERY                 82   35  ...   787221.0   577221.0   734913.0
CELEBRATION                   6    5  ...    23177.0    13178.0    17113.0
CLEANING                     61   44  ...  1595863.0  1417153.0  1454345.0
DAIRY                       151   83  ...  1477538.0   988991.0  1429740.0
DELI                         71   48  ...   415401.0   483142.0   393357.0
EGGS                         22   13  ...   234034.0    94192.0   216755.0
FROZEN FOODS                 27   21  ...   287362.0   205219.0   237760.0
GROCERY I                   177  123  ...  6740188.0  5823843.0  6317624.0
GROCERY II                    7    2  ...    51054.0    26077.0    36639.0
HARDWARE                      0    0  ...      769.0     1088.0     1389.0
HOME AND KITCHEN I           25    9  ...    42338.0    20989.0    36433.0
HOME AND KITCHEN II          20    9  ...    55324.0    33463.0    44662.0
HOME APPLIANCES               0    0  ...      640.0      552.0     1080.0
HOME CARE                    25   21  ...   399318.0   396872.0   401975.0
LADIESWEAR                   12    7  ...    15399.0    18940.0    18814.0
LAWN AND GARDEN               5    0  ...    18507.0    10676.0    14136.0
LINGERIE                      6    1  ...     2624.0     3849.0     3145.0
LIQUOR,WINE,BEER              8    3  ...   133904.0    69972.0   110961.0
MAGAZINES                     3    0  ...    11493.0     6109.0     9773.0
MEATS                        22   20  ...   735637.0   640450.0   570603.0
PERSONAL CARE                28   23  ...   439387.0   482079.0   469533.0
PET SUPPLIES                  5    2  ...    14450.0    13960.0    15197.0
PLAYERS AND ELECTRONICS       7    7  ...    17065.0    15616.0    17592.0
POULTRY                      25   19  ...   826610.0   576536.0   748297.0
PREPARED FOODS               13    8  ...   193251.0   105712.0   177127.0
PRODUCE                     155   77  ...  3998878.0  1842812.0  3717189.0
SCHOOL AND OFFICE SUPPLIES   11    7  ...    18937.0    14641.0    14528.0
SEAFOOD                       4    2  ...    60529.0    32504.0    52595.0

                                                                        \

store_nbr                          48         49         50         51
family
AUTOMOTIVE                     7264.0     7477.0     6702.0     4487.0
BABY CARE                         0.0        0.0        0.0        0.0
BEAUTY                         8680.0     6603.0     6353.0     3566.0
BEVERAGES                   3006995.0  4470550.0  2619648.0  2884739.0
BOOKS                            57.0      454.0      291.0      259.0
BREAD/BAKERY                 509099.0   777951.0   383754.0   534936.0
CELEBRATION                   12845.0    21300.0    21917.0     9150.0
CLEANING                    1315531.0  1187930.0   992487.0   867712.0
DAIRY                        823365.0  1493050.0   714319.0   968845.0
DELI                         395257.0   260027.0   284165.0   142728.0
EGGS                          76782.0   289702.0    65403.0   192589.0
FROZEN FOODS                 169547.0   273867.0   149468.0   190974.0
GROCERY I                   5113736.0  4960503.0  3952280.0  3054774.0
GROCERY II                    25594.0    39363.0    35361.0    17732.0
HARDWARE                        628.0     1270.0      792.0      894.0
HOME AND KITCHEN I            25861.0    37482.0    38619.0    18558.0
HOME AND KITCHEN II           20964.0    27354.0    31897.0    21754.0
HOME APPLIANCES                 342.0      637.0      260.0      637.0
HOME CARE                    360281.0   299373.0   263307.0   194672.0
LADIESWEAR                    15939.0    11059.0    12785.0     2319.0
LAWN AND GARDEN                6381.0    14917.0     4483.0    17580.0
LINGERIE                       1727.0     5940.0     3222.0     3577.0
LIQUOR,WINE,BEER              65732.0   148384.0    72899.0    94114.0
MAGAZINES                      3984.0    10469.0     6015.0     6668.0
MEATS                        566223.0   518745.0   324657.0   376613.0
PERSONAL CARE                475469.0   304551.0   329667.0   176801.0
PET SUPPLIES                  10304.0    11873.0     5806.0    11897.0
PLAYERS AND ELECTRONICS       12247.0    19211.0    14079.0     7063.0
POULTRY                      508418.0   651381.0   254349.0   647104.0
PREPARED FOODS                77627.0   190273.0    61288.0    84282.0
PRODUCE                     1295275.0  4968328.0  1404563.0  3273884.0
SCHOOL AND OFFICE SUPPLIES    17992.0    10444.0    12974.0     8414.0
SEAFOOD                       17551.0    56530.0    12774.0    34251.0



store_nbr                         52         53         54
family
AUTOMOTIVE                    1497.0     5811.0     4199.0
BABY CARE                        0.0       22.0      198.0
BEAUTY                         972.0     3812.0      405.0
BEVERAGES                   537796.0  1396928.0  1186768.0
BOOKS                            0.0       77.0        0.0
BREAD/BAKERY                 97521.0   313372.0   131379.0
CELEBRATION                   1343.0     6110.0     2892.0
CLEANING                    201411.0   683924.0   688297.0
DAIRY                       140584.0   368223.0   151139.0
DELI                         44664.0   150784.0   131721.0
EGGS                         25002.0    63436.0    47294.0
FROZEN FOODS                 40622.0   107285.0    28590.0
GROCERY I                   736213.0  2049658.0  1849069.0
GROCERY II                    5672.0    10427.0     4878.0
HARDWARE                       395.0     1006.0      465.0
HOME AND KITCHEN I            6926.0    16881.0    14002.0
HOME AND KITCHEN II           6271.0    16429.0     8061.0
HOME APPLIANCES                117.0       93.0       82.0
HOME CARE                    44347.0   138900.0   131014.0
LADIESWEAR                    1264.0     2973.0        0.0
LAWN AND GARDEN               7706.0     5140.0        0.0
LINGERIE                      1003.0     5172.0     2017.0
LIQUOR,WINE,BEER             24750.0    60683.0    13967.0
MAGAZINES                     1247.0     2809.0      598.0
MEATS                        59379.0   168415.0    33729.0
PERSONAL CARE                45450.0   189207.0   121559.0
PET SUPPLIES                  1741.0     2855.0      118.0
PLAYERS AND ELECTRONICS       3353.0     4411.0     2205.0
POULTRY                      58363.0   128307.0    35537.0
PREPARED FOODS               15951.0    50201.0    42792.0
PRODUCE                     581158.0  1318876.0   378612.0
SCHOOL AND OFFICE SUPPLIES    2232.0     1073.0      997.0
SEAFOOD                       1219.0     3745.0     1082.0

[33 rows x 162 columns]

##### **Pivot Table vs. Groupby** </br> if columns are not being passed into pivot table, then use groupby() method because groupby can use named aggregation to flatten column index. and pivot_tables can often create wide DataFrames

##### **Heatmaps** </br> Can quickly style a DataFrame based on its values to create a `heatmap` </br> chain the `.style.background_gradient()` to DataFrame and add `cmap` argument

In [46]:
# create heatmap with no axis in pivot table
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='mean',
    margins=True
).style.background_gradient(cmap='RdYlGn', axis=None)

In [47]:
# create heatmap with column axis (axis=1) in pivot table
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='mean',
    margins=True
).style.background_gradient(cmap='RdYlGn', axis=1)

In [48]:
# create heatmap with row axis (axis=0) in pivot table
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
    index='HomeTeam',
    columns='season',
    values='HomeGoals',
    aggfunc='mean',
    margins=True
).style.background_gradient(cmap='RdYlGn', axis=0)